<%= form_for(@special) do |f| %>
  <% if @special.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@special.errors.count, "error") %> prohibited this special from being saved:</h2>

      <ul>
      <% @special.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, :maxlength => 150, size: "80x10" %>
  </div>
  
  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.select :category_id, @categories, :include_blank => true %>
  </div>
  
  <div class="field">
  	<%= f.label :price %><br>
  	<%= f.text_field :price, :maxlength => 6, size: "20x10" %>
  </div>
  
  <div class="field">
  	<%= f.label :plate_cost %><br>
  	<%= f.text_field :plate_cost, :maxlength => 6, size: "20x10" %>
  </div>
  
  <div class="field">
  	<%= f.label "Number Sold"%><br>
  	<%= f.text_field :numberSold, :maxlength => 6, size: "20x10" %>
  </div>
  
  <div class="field">
    <%= f.label :ingredients %><br>
    <%= f.text_area :ingredients, size: "80x11" %>
  </div>
  <div class="field">
    <%= f.label :instructions %><br>
    <%= f.text_area :instructions, size: "80x30"%>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
