<article>
<hr>
  <header>
    <h2>
      <%= @special.title %> [<%= link_to 'Edit', edit_special_path(@special) %>] 
     </h2>
  </header>
 <h3>Category:</h3> 
 <p> <%= h(@special.category.name) rescue 'No category found' %></p>
 <h3>Price:</h3>
 <p> <%= @special.price %></p>
 <h3>Number Sold:</h3>
 <p> <%= @special.numberSold %>
 <h3>Ingredients:</h3>
 <p><%= @special.ingredients %></p>
 <h3>Instructions</h3>
 <p><%= @special.instructions %></p>
</article>
<p><%= link_to 'Back', specials_path %></p>
<hr>