<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @special.title %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @special.ingredients %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @special.instructions %>
</p>

<%= link_to 'Edit', edit_special_path(@special) %> |
<%= link_to 'Back', specials_path %>
